<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/style.css">
    {% block head %}
        <title>Renato Xavier</title>
    {%endblock%}

</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>
    
    {% block content %}

    {% endblock %}
    
</body>
</html>