{% extends "layout.njk" %}

{% block head %}

<title>Portfolio - Renato Xavier</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">

    </div>
    
    <section class="cards">

        <!--Estrutura de repetição/ FOR-->
        {% for item in itens %}

        <div class="card" id="{{item.id}}">
            <div class="card-image-container">
                <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Image of {{item.title}}">
                {% if item.featured %}
                    <div class="featured"></div>
            
            </div>
            <div class="card-content">
                <p>{{item.title}}</p>
            </div>
            <div class="card-info">
                <p>{{item.duration}}</p>
                <p class="card-price">{{item.price}}</p>
            </div>
        </div>

        <!--Fechar o for-->
        {% endfor %}

    </section>

    <div class="modal-overlay">

        <div class="modal" >
            
            <a href="" class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <!---video here-->
                <iframe src="" frameborder="0"></iframe>
            </div>

        </div>

    </div>


    <script src="../scripts/scripts.js"></script>

{% endblock %}